@import url('https://fonts.googleapis.com/css?family=Montserrat|Vesper+Libre&display=swap');

:root {
  --white-color: #f9f9f9;
  --light-background-color: #f9f9f9;
  --dark-background-color: #2c3444;
  --accent-color: #b47c44;
  --box-border-color: #333333;
  --major-text-color: #2c3444;
  --minor-text-color: #2c3444;
  --major-text-font: 'Vesper Libre', serif;
  --minor-text-font: 'Montserrat', sans-serif;
}