@import "../themes/themes.scss";

header {
  background-color: var(--light-background-color);
  margin-bottom: 1.45rem;
  margin: 0 auto;
  width: 100vw;
  padding: .75rem;
  
  div {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10rem auto;
    grid-template-areas:
      "img h1";

    a {
      color: var(--dark-background-color);
      text-decoration: none;
    }

    h1 {
      margin: 0 0 0 1rem;
      color: var(--dark-background-color);
      font-family: var(--major-text-font);
      font-size: 3.5rem;
      align-self: center;
      justify-self: start;
      padding-top: .75rem;
    }
  }
}

@media only screen and (min-width:414px) and (max-width: 767px) {
  header {
    background-color: var(--light-background-color);
    width: 100vw;
    padding: .75rem;

    div {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 5rem auto;
      grid-template-areas:
        "img h1";
  
      a {
        color: var(--dark-background-color);
        text-decoration: none;
      }
  
      h1 {
        color: var(--dark-background-color);
        font-family: var(--major-text-font);
        font-size: 1.75rem;
        align-self: center;
        justify-self: start;
      }
    }
    }
}