@import "./themes.scss";

header {
  background-color: var(--light-background-color);
  margin-bottom: 1.45rem;
  h1 {
    margin: 0;
    color: var(--dark-background-color);
    font-family: var(--major-text-font);
    a {
      color: var(--dark-background-color);
      text-decoration: none;
    }
  }
}