@media only screen and (min-width:1200px) {
  .footer {
    background-color: var(--dark-background-color);
    // height: 15vh;
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
      div {
        font-family: var(--minor-text-font);
        display: flex;
        flex-direction: row;
        a {  
          text-decoration: none;
          color: var(--white-color);
          &:visited {
            color: var(--white-color);
          }
          cursor: pointer;

          }
      }  

      .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2rem;
        margin-bottom: 1rem;
        p {
          color: var(--white-color);
          padding: 0 2rem 0 2rem;
        }
      }

      .site-design {
        margin: 2rem 0 .5rem 0;
        font-size: .75rem;
        width: 100vw;
        // opacity: .5;
        
        a {
          color: var(--accent-color);
          text-align: center;
          padding-right: 1rem;
          width: 100vw;
          &:visited {
            color: var(--accent-color);
          }
        }

    }
  }
}
@media only screen and (min-width:414px) and (max-width: 767px)  {
  .footer {
    background-color: var(--dark-background-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    div {
      text-align: center;

      a {  
        text-decoration: none;
        color: var(--white-color);
        &:visited {
          color: var(--white-color);
        }
        cursor: pointer;

        }
    }

    .footer-links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      p {
        color: var(--white-color);
        padding: 0 .75rem 0 .75rem;
      }
    }
  
    .site-design {
      margin: 1.75rem 0 1rem 0;
      font-size: .75rem;
      width: 100vw;
      // opacity: .5;
      
      a {
        color: var(--accent-color);
        text-align: center;
        padding-right: 1rem;
        width: 100vw;
        &:visited {
          color: var(--accent-color);
        }
      }
  
    }
  }
}

@media only screen and (min-width:768px) and (max-width: 1199px){
  .footer {
    background-color: var(--dark-background-color);
    // height: 15vh;
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
      div {
        font-family: var(--minor-text-font);
        display: flex;
        flex-direction: row;
        a {  
          text-decoration: none;
          color: var(--white-color);
          &:visited {
            color: var(--white-color);
          }
          cursor: pointer;

          }
      }  

      .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2rem;
        margin-bottom: 1rem;
        p {
          color: var(--white-color);
          padding: 0 2rem 0 2rem;
        }
      }

      .site-design {
        margin: 2rem 0 1rem 0;
        font-size: .75rem;
        width: 100vw;
        // opacity: .5;
        
        a {
          color: var(--accent-color);
          text-align: center;
          padding-right: 1rem;
          width: 100vw;
          &:visited {
            color: var(--accent-color);
          }
        }

    }
  }
}

@media only screen and (min-width:320px) and (max-width: 413px){
  .footer {
    background-color: var(--dark-background-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    div {
      text-align: center;

      a {  
        text-decoration: none;
        color: var(--white-color);
        &:visited {
          color: var(--white-color);
        }
        cursor: pointer;

        }
    }

    .footer-links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      p {
        color: var(--white-color);
        padding: 0 .5rem 0 .5rem;
      }
    }
  
    .site-design {
      margin: 1.75rem 0 1rem 0;
      font-size: .75rem;
      width: 100vw;
      // opacity: .5;
      
      a {
        color: var(--accent-color);
        text-align: center;
        padding-right: 1rem;
        width: 100vw;
        &:visited {
          color: var(--accent-color);
        }
      }
  
    }
  }
}