.footer {
  background-color: var(--dark-background-color);
  height: 10vh;
  color: var(--white-color);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
    a {  
    text-decoration: none;
    &:visited {
      color: white;
    }
    }

}