.about-us {
  padding: 4rem;
  font-family: var(--minor-text-font);
  line-height: 2rem;

  h1 {
    font-family: var(--major-text-font);
    font-size: 3rem;
    margin-bottom: .5rem;
  }

  p {
    padding: .5rem 0;
    font-size: 1.25rem;
  }

  .quote {
    // background-color: var(--dark-background-color);
    // border: 2px solid var(--dark-background-color);
    // box-shadow: 2px 2px 3px var(--dark-background-color);
    color: var(--accent-color);
    width: 77vw;
    margin: 2rem auto 0 auto;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    font-family: var(--major-text-font);
    line-height: 2.5rem;
    opacity: .5;

    blockquote {
      .quote-author {
      text-align: center;
      color: var(--accent-color);
      font-family: var(--major-text-font);
      font-size: 2rem;
      }
    }
  }

  .final-quote {
    // background-color: var(--dark-background-color);
    // border: 2px solid var(--dark-background-color);
    // box-shadow: 2px 2px 3px var(--dark-background-color);
    color: var(--accent-color);
    width: 77vw;
    margin: 2rem auto 0 auto;
    padding: 1.5rem;
    font-size: 3rem;
    text-align: center;
    font-family: var(--major-text-font);
    line-height: 2.5rem;
    // opacity: .5;
    

  }

}